.errorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #00000000;
}

.errorMessage{
    text-align: center;
}

.errorTitle{
    font-size: 3rem;
    font-weight: bold;
    color: #d9534f;
}

.errorDescription{
    font-size: 1.5rem;
    color: #555;
}
