/* tos.module.css */
.mainContainer {
  min-height: 350vh;  /* Allow the content to grow as needed */
  position: relative; /* Allows positioning of video */
  overflow: auto; /* Allow scrolling of the content */
  padding-top: 8vh; /* Space for the header */
}

.video {
  position: fixed; /* Video stays fixed while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* The video will take up the entire viewport height */
  object-fit: cover; /* Ensure video fills the screen */
  z-index: -1; /* Video stays behind content */
}

.tosContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensure content starts from the top */
  align-items: center;
  background-color: #f4f4f400;
  width: 100vw;
}

.tosContent {
  max-width: 800px;
  box-sizing: border-box;
}

.tosTitle {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.sectionBox {
  background-color: #0000008c;
  border: 2px solid #ffa600cb;
  padding: 20px;
  margin-top: 10px;
  border-radius: 30px;
  color: white;
}

.sectionHeading {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
