@font-face{
  font-family: 'ADLaM';
  src: url('../assets/ADLaMDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  font-family: 'ADLaM', sans-serif;
}

.nav ul{
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
}

.nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  transition: color 200ms;
}

/* .nav ul li a:hover{
  color: #007bff;
} */

/* Dropdown Menu */
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdownContent{
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdownContent{
  display: block;
}

.dropdownContent a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover{
  background-color: #ff0000;
}

.logoContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logoLink{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo{
  max-width: 150px;
  transition: filter 300ms;
}

.logo:hover{
  filter: drop-shadow(0 0 0.25em #ffffffaa); 
}

.featherforge{
  font-size: 2rem;
  padding-left: 1rem;
  color: White;
}

