@font-face{
  font-family: 'ADLaM';
  src: url('../assets/ADLaMDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@keyframes dropIn {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1vh 1vh;
  box-sizing: border-box;
  font-family: 'ADLaM', sans-serif;
}

.headerForFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1vh 1vh;
    box-sizing: border-box;
    font-family: 'ADLaM', sans-serif;
}

.logoContainer {
  animation: dropIn 0.4s ease-out forwards;
}

/* Only apply animation to nav items */
.nav {
  opacity: 0;
  animation: dropIn 0.2s ease-out forwards;
  animation-delay: 0.1s; /* Delay for entire nav */
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.navUl {
    padding: 0;
}

.navItem {
  opacity: 0; /* Set initial opacity to 0 */
  animation: dropIn 0.4s ease-out forwards;
}

.navItem a {
  text-decoration: none;
  color: black;
  font-size: 2vh;
  padding: 1vh;
  transition: color 100ms;
}

.dropdownSpan {
    font-size: 2vh;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 1vh;
}

.navItem:hover .dropdownContent {
  display: block;
}

.dropdownContent a {
  color: black;
  padding: 1vh 2vh;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  border-radius: 1vh;
  background-color: #ff990013;
}

/* Remove animation from logo and Feather Forge */
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logoLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  max-width: 15vh;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 0.25em #ffffffaa);
}

.featherforge {
  font-size: 5vh;
  padding-left: 2vh;
  color: White;
}
